.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),url(vegetable.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    height: 150vh;


}




.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 20px;
}

.sidebar nav li a {
    text-decoration: none;
}




.sidebarr {
    width: auto;
    border-radius: 5px;
    transition: 1s;
    


    padding-top: 10px;

    float: right;
    height: 60px;
    font-size: 25px;

}


.name {
    font-size: 30px;
    color: rgb(42, 165, 89);




}

.flex {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;

}





.box {
    width: 25px;
    float: left;
    height: 25px;
    padding: 10px;
    margin-right: 10px;
    background-color: aliceblue;


}

.box:hover {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    padding: 10px;


    background-color: green;


}


ul {
    list-style: none;
    transition: 0.7s;


}

ul a {
    list-style: none;
    transition: 0.7s;
    color: brown;
    font-size: 30px;


}

ul a:hover {
    list-style: none;
    transition: 0.7s;
    color: brown;
    transition: 0.5s;
    font-size: large;

}





.content {
    font-size: 25px;
    color: white;

    margin-top: 65px;
    margin-left: 35px;
    transition: 0.8s;
}




.content h1 {
    padding-top: -10px;
    font-size: 65px;
    font-weight: bold;
    transition: 0.9s;

}

.content p {
    font-size: 20px;
    font-style: inherit;
    transition: 1s;
}

.btn {
    width: 150px;
    height: 60px;
    font-size: 15px;
    font-style: oblique;
    font-weight: bolder;
    border-color: transparent;
    color: white;
    background-color: rgb(14, 119, 14);
}

.btn:hover {
    width: 150px;
    height: 60px;
    font-size: 15px;
    font-weight: bolder;
    border-color: transparent;
    color: black;
    background-color: white;
    transition: 1s;
}
















.sidebar {
    display:none;
    padding: 10px;
    background-color: rgb(61, 162, 138);
    border-radius: 10px;
    transition: 1s;

    color: black;
    width: 27vw;
    font-size: 40px;
    height: 80vw;
    align-items: center;
    /* transition:transform 0.3s ease-in;*/
    position: absolute;

}

.sidebar li a {
    color: black;
    font-weight: bold;
    padding-bottom: 35px;
    font-size: 25px;



}

.sidebar li a:hover {
    color: rgb(5, 38, 20);
    font-weight: bold;
    font-size: 30px;

    transition: 1s;

}




.sidebarGo {
    transform: translate(-443px, 8px);
    position: absolute;

}


.part {
    margin: 20px;
}










ol {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

ol li {
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 25px;
}

ol li a {
    text-decoration: none;
    color: blue;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    transition: 0.4s ease-in-out;

}

ol li a:hover {
    color: rgb(13, 191, 141);
    text-align: center;
    text-decoration: underline;
}


.products {
    color: black;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}












.sec1 {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;

}

.sec2 {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;


}

.sec3 {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;







}






.brinjal {
    padding-left: 40px;
    background-color: aliceblue;
    padding-right: 20px;
}


.brinjal:hover {
    padding-left: 40px;
    color: greenyellow;

    transition: 3s;
    padding-right: 20px;
}


.brocolli {
    padding-right: 155px;
    background-color: aliceblue;
    padding-left: 20px;

}

.brocolli:hover {
    padding-right: 155px;
    background-color: aliceblue;
    color: aquamarine;

    transition: 3s;
    padding-left: 20px;

}

.cabbage {
    padding-left: 80px;
    background-color: aliceblue;
    padding-right: 80px;
}

.cabbage:hover {
    padding-left: 80px;
    background-color: aliceblue;
    color: blueviolet;
    transition: 3s;
    padding-right: 80px;
}



.chilli {
    padding-right: 155px;
    background-color: aliceblue;
    padding-left: 20px;

}



.chilli:hover {
    padding-right: 155px;
    background-color: aliceblue;
    padding-left: 20px;
    color: bisque;
    transition: 3s;

}

.onion {
    padding-left: 80px;
    background-color: aliceblue;
    padding-right: 80px;

}


.onion:hover {
    padding-left: 80px;
    background-color: aliceblue;
    padding-right: 80px;
    color: bisque;
    transition: 3s;

}

.potato {
    padding-right: 155px;
    background-color: aliceblue;
    padding-left: 20px;

}



.potato:hover {
    padding-right: 155px;
    background-color: aliceblue;
    padding-left: 20px;
    color: bisque;
    transition: 3s;

}

.veg {
    margin-top: 250px;
}






.seca {
    margin-top: 10px;
    width: 700px;
    height: 700px;
    margin-top: 200px;
    padding-left: 25px;
    position: relative;
    background-repeat: no-repeat;




}

.fruits img {
    width: 600px;
    height: auto;
    padding-left: 50px;




}





.secb {
    width: 350px;
    height: 400px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
    position: relative;
    position: relative;
    background-repeat: no-repeat;


}

.apples img {
    width: 200px;
    height: auto;
    padding-top: 30px;
    -webkit-transition: all 3.5s ease 0s;
    -o-transition: all 3.5s ease 0s;
    transition: all 3.5s ease 0s
}

.avacado img {
    width: 200px;
    height: auto;
    padding-top: 35px;
    -webkit-transition: all 3.5s ease 0s;
    -o-transition: all 3.5s ease 0s;
    transition: all 3.5s ease 0s
}

.graphs img {
    width: 200px;
    height: auto;
    -webkit-transition: all 3.5s ease 0s;
    -o-transition: all 3.5s ease 0s;
    transition: all 3.5s ease 0s
}

.fruit img {
    width: 200px;
    height: auto;
    padding-top: 35px;
    -webkit-transition: all 3.5s ease 0s;
    -o-transition: all 3.5s ease 0s;
    transition: all 3.5s ease 0s
}






.fruits {
    padding-left: 40px;
    background-color: aliceblue;
    padding-right: 20px;
}

.apples {
    padding-right: 15px;
    background-color: aliceblue;
    padding-left: 20px;
    margin-right: 10px;

}

.avacado {
    padding-left: 15px;
    background-color: aliceblue;
    padding-right: 20px;
    margin-right: 10px;
}

.graphs {
    padding-right: 15px;
    background-color: aliceblue;
    padding-left: 20px;
    margin-right: 10px;

}

.fruit {
    padding-right: 15px;
    background-color: aliceblue;
    padding-left: 20px;
    margin-right: 10px;

}


.minu {
    text-align: center;
    justify-content: space-around;
    padding-left: 145px;


}



.sm {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 15px;

}

.social {
    display: flex;
    float: left;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-right: 85px;

}




.contactform {
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    height: 400px;
}

.contactform h1 {
    text-align: center;
    color: rgb(4, 31, 4);
    font-weight: bolder;

}

.contactform form {
    padding-top: 5px;
    padding-left: 20px;
    font-size: 30px;
    color: white;
    background-color: transparent;

}

.contactform form div {
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-weight: bolder;







}

.contactform form div input {
    border-radius: 8px;

    margin: 5px;
    background-color: blanchedalmond;





}

#emailHelp {
    color: rgb(42, 165, 108);
    font-size: 35px;
    font-style: italic;
}

#form-check {
    flex-direction: row;



}

.name img {
    padding-top: 20px;
    width: 60px;
    height: auto;
    top: 15px;
}

.name a {
    text-decoration: none;
    color: green;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 15px;
}



.active{
    display:block;
}
.activee{
    display:block;
}


.searche{
    display:none;
    display:flex;
    flex-direction: row;
    padding:20px;
   
    height:50px;
    width:300px;
    background-color: bisque;
    margin-top: 10px;
    margin-left: 500px;
    border-radius: 15px;
position: fixed;

}
.btnn{
    
    width: 100px;
    height: 40px;
    border-radius: 8px;
    font-size: 15px;
    font-style: oblique;
    font-weight: bolder;
    border-color: transparent;
    color: white;
    background-color: rgb(14, 119, 14);
}

.btn:hover {
    border-radius: 8px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bolder;
    border-color: transparent;
    color: black;
    background-color: white;
    transition: 1s;
}
.srch{
    border-radius: 8px;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-style: oblique;
   

}

